img {
    width: 100%;
}

body {
    background-color: black;
    position: relative;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/*-----------------------styles----------------------*/

h1 {
    color: white;
}

/*-----------------naven-----------------*/


header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 0;
}

header nav a {
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.25rem;
}

/* unvisited link */
header nav a:link {
    display: inline;
    padding: 1vw;
    color: white;
    font-size: 1em;
}

/* visited link */
header nav a:visited {
    color: white;
}

/* mouse over link */
header nav a:hover {
    color: #92f8d6;
    background-color: black;
    text-decoration-color: white;
}

/* selected link */
header nav a:active {
    color: black;
}

header {
    position: fixed;
    /*        width: 100vw;*/
    background: linear-gradient(#92f8d6, rgba(255, 255, 0, 0));
    border: 0.1vw;
    display: inline-block;
    background-size: cover;
    right: 0vw;
    top: 0vw;
}

#footwrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    position: absolute;
    color: #92f8d6;
    height: 3vw;
    background-color: #585858;
    text-align: right;

    display: inline-block;
    background-size: cover;

    bottom: 0vw;
    left: 0vw;
    width: 100%;

    flex-grow: 1;
    flex-basis: 300px;

    margin-bottom: 0vw;
    font-size: 1vw;
}

/*
#footwrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
*/

/*------------------sections------------------*/

#sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    /*    z-index: 1;*/
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.23);

    overflow-x: hidden;
    padding-top: 20px;


    display: inline-block;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sidenav a {
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.25rem;
    color: white;
}

.tema {
    margin-left: 100px;
}


section {
    max-width: 1200px;
    margin: 0 auto;
    /*    margin-left: 100px;*/
}

.sectionwrapper {
    background-color: rgba(255, 255, 255, 0.23);
    display: flex;
    flex-wrap: wrap;
    margin: 2vw;
    padding: 2vw;
    border-bottom: 2px solid black;
}


.column_1 {
    flex-grow: 1;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw;
    padding: 4vw;
    border: 2px solid black;
}

.column_2 {
    flex-grow: 2;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw;
    padding: 1vw;
    border: 2px solid black;
}

.cv_picture {
    flex-grow: 1;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw 10vw 1vw;
    padding: 4vw;
    border: 2px solid black;
    /*    overflow: hidden;*/

    /*
    max-height: 250px;
    max-width: 250px;
*/
}


#cv_pic .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0vw 10vw;
}

/*
.cv_picture img {

    max-height: 250px;
    max-width: 250px;

    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/


/*--------------------forside.sprite----------------------*/

/*
#screen {
    position: relative;
*/

/*
    width: 100vw;
    height: 56.25vw;
    margin: 0vw;
    padding: 0vw;
*/
}

#sprite_container {
    /*    position: absolute;*/
    top: 2vw;
    left: 80vw;
}

#sprite {
    background-image: url(bjerg.svg);
    background-size: 1500% 100%;
    width: 45vw;
    height: 45vw;
    /*    background-repeat: no-repeat;*/
}

.animation:hover {
    animation-name: bjerg_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(15);
    animation-fill-mode: forwards;
}

@keyframes bjerg_kf {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: -1500% 0%;
        /*        transform: rotate(0deg);*/
    }

    60% {
        /*        transform: rotate(35deg);*/
    }

    85% {
        /*        transform: rotate(-35deg);*/
    }

    100% {
        transform: rotate(0deg);
    }
}

#button {
    background-image: url(button.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 6vw;
    left: 12vw;
    top: 19.6vw;
    z-index: 2;
}

/*
.pulse:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}


@keyframes pulse_kf {
    0% {
        transform: scale(1);

    }


    100% {
        transform: scale(4.05);
    }
}
*/
