img {
    width: 100%;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*-----------------------styles----------------------*/

h1 {
    color: black;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
}

.cv_pic h1 {
    font-size: 3rem;
}

h2 {
    color: black;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Nunito Sans', sans-serif;
}

h3 {
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

li {
    line-height: 2.2rem;
}

.opgave_1 {
    background-color: #dddddd;
}

.opgave_2 {
    background-color: #c7c7c7;
}

.opgave_3 {
    background-color: #adadad;
}

.opgave_4 {
    background-color: grey;
}

.link h3 {
    cursor: pointer;
    color: black;
}

/*-----------------nav og footer-----------------*/

header nav {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
    justify-content: flex-end;
}

header nav a {
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.25rem;
}

/* unvisited link */
header nav a:link {
    display: inline;
    padding: 1vw;
    color: grey;
    font-size: 1.2em;

}

/* visited link */
header nav a:visited {
    color: grey;
}

/* mouse over link */
header nav a:hover {
    color: #92f8d6;
    background-color: white;
    text-decoration-color: white;
    border-radius: 1vw;
}

/* selected link */
header nav a:active {
    color: black;
}

header {
    position: fixed;
    width: 100%;
    background: linear-gradient(#92f8d6, rgba(255, 255, 0, 0));
    border: 0.1vw;
    display: inline-block;
    background-size: cover;
    right: 0vw;
    top: 0vw;
    margin: 0 auto;
}

@media only screen and (max-width:550px) {

    header nav {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    header nav a {
        font-size: 1rem;
        padding: 0 0.4rem 0 0;

    }

    header nav a:last-child {
        border-right: none;
    }

    header .logo {
        display: block;
        flex-wrap: wrap;
    }

    header {
        width: 33vw;
    }

    .logo {
        visibility: hidden;
    }
}

header .logo {
    display: inline-block;
    flex-wrap: wrap;

    height: 6rem;
    width: 6rem;
    margin-right: 5rem;

    position: absolute;
    top: 0vw;
    left: 2vw;

}

#footwrapper {
    display: inline-block;
    flex-wrap: wrap;
}

.footer {
    color: grey;
    padding: 0.3rem;
    background: linear-gradient(#92f8d6, rgba(255, 255, 0, 0));
    text-align: center;

    background-size: cover;

    bottom: 0vw;
    left: 0vw;
    width: 100%;

    flex-grow: 1;
    flex-basis: 300px;

    margin-bottom: 0vw;
    font-size: 1rem;
}

/*------------------sections------------------*/

section {
    margin: 0 auto;
}

.opgave_1,
.opgave_2,
.opgave_3,
.opgave_4 {
    max-width: 1400px;
}

.sectionwrapper {
    background-color: rgba(255, 255, 255, 0.23);
    display: flex;
    flex-wrap: wrap;
    margin: 2vw;
    padding: 2vw;
}

.column_1 {
    flex-grow: 1;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw;
    padding: 4vw;
    border: 2px solid black;
}

.column_2 {
    flex-grow: 2;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw;
    padding: 1vw;
}

.column_3 {
    flex-grow: 2;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw;
    padding: 1vw;
    border: 2px solid black;
}

.cv_picture {
    flex-grow: 1;
    flex-basis: 300px;

    flex-direction: column;
    justify-content: space-between;
    margin: 1vw 10vw 1vw;
    padding: 4vw;
    border: 2px solid black;
}


.cv_pic .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0vw 10vw;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5vw;
}

.link {
    width: 18rem;
    height: 4rem;

    background-color: rgb(146, 248, 214);
    border-radius: 2vw;
}


/*--------------------forside.sprite----------------------*/

@media only screen and (max-width:500px) {

    #sprite_container {
        display: flex;
        flex-wrap: nowrap;
        position: relative;

        justify-content: center;
        margin: 1vw;
        padding: 40% 0% 60%;
    }

    #sprite {
        background-image: url(bjerg.svg);
        background-size: 1500% 100%;
        width: 25vw;
        height: 25vw;
    }

    .button {
        background-image: url(button.svg);
        background-size: 100%;
        position: absolute;
        background-repeat: no-repeat;
        width: 15vw;
        height: 4vw;
        left: 15vw;
        top: 30.8vw;
        overflow: visible;
        cursor: pointer;
        margin: 40vw 0vw;
    }

    .link {
        margin: 0vw 5vw;
    }

}

#sprite_container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    justify-content: center;
    margin: 2vw 27vw;
}

#sprite {
    background-image: url(bjerg.svg);
    background-size: 1500% 100%;
    width: 45vw;
    height: 45vw;
}

.animation {
    animation-name: bjerg_kf;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(15);
    animation-delay: 0.3s;
}

@keyframes bjerg_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -1500% 0%;
    }
}

.button {
    background-image: url(button.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 15vw;
    height: 4vw;
    left: 15vw;
    top: 20.8vw;
    overflow: visible;
    cursor: pointer;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}


@keyframes pulse_kf {
    0% {
        transform: scale(1);

    }


    100% {
        transform: scale(1.3);
    }
}
